<div class="row">
    <div class="col-md-8">
        <h2 class="mb-5">Demon info</h2>
        <div class="card overflow-hidden" style="max-width: 50rem;">
            <div class="p-3 bg-secondary text-white">
                <h3 class="card-title text-center"><%= @demon.name %></h3>
            </div>
            <%= image_tag @demon.picture_url, class: "card-img-top p-5" %>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-center"><strong>Speciality:</strong> <%= @demon.speciality %></li>
                <li class="list-group-item text-center"><strong>Location:</strong> <%= @demon.location %></li>
            </ul>
        </div>
    </div>

    <div class="col-md-4">
        <h2 class="mb-5">Reviews:</h2>
        <ul class="list-group mb-3">
            <% @demon.reviews.each do |review| %>
                <%= render "reviews/review", review: review, user: @user %>
            <% end %>
        </ul>
        <%= render "reviews/new_review", demon: @demon, review: @review %>
    </div>
</div>